/* expects:
.cards
    label
        input
        .card
            .front
            .back
    ...
*/
.cards {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
}
.back {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
}
.card iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
@media screen and (min-width: 756px) {
    .cards {
        flex-direction: row;
    }
    .cards label {
        perspective: 1000px;
        transform-style: preserve-3d;
        display: block;
        width: 345px;
        height: 200px;
        cursor: pointer;
        padding: 1rem;
        border: 1px solid #222;
        border-radius: 5px;
        margin: 0 1rem;
        max-width: 100%;
        box-sizing: border-box;
    }
    .cards label:first-of-type {
        margin-left: 0;
    }
    .cards label:last-of-type {
        margin-right: 0;
    }
    .card {
        position: relative;
        height: 100%;
        width: 100%;
        transform-style: preserve-3d;
        transition: all 600ms;
        z-index: 1;
        border-radius: 3px;
    }
    .back a,
    .back a:focus,
    .back a:visited {
        color: #01a9b2
    }
    .card h3 {
        margin: 0;
    }
    .close {
        display: none;
    }
    @supports (transform-style: preserve-3d) {
        .card .front,
        .card .back {
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
        }

        .card .back {
            background: #222;
            color: #fff;
            transform: rotateX(180deg);
            display: none;
            bottom: 0;
        }
        .card .back a{
            font-size: 3rem;
        }

        label:focus-within .card,
        label:hover .card {
            transform: rotateX(20deg);
            box-shadow: 0 20px 20px rgba(50, 50, 50, 0.2);
        }
        .close-all {
            margin: 1rem;
        }
        .close-all .btn {
            padding: 0.5rem 5rem;
            margin: 2rem 0 4rem 0;
            display: inline-block;
        }
        .close-all input,
        .cards input {
            opacity:0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            margin: 0;
            cursor: pointer;
        }
        .close-all input:checked + div{
            color: #666;
            background: #ccc;
        }
        label:focus-within :checked + .card,
        :checked + .card {
            transform: rotateX(180deg);
        }
        :checked + .card .back {
            display: block;
        }
        label:hover :checked + .card {
            transform: rotateX(160deg);
            box-shadow: 0 20px 20px rgba(255, 255, 255, 0.2);
        }
        label:hover :checked + .card:hover {
            transform: rotateX(180deg);
        }
        /* todo set tab index to -1 with js, set to 0 when open */
        .close {
            display: block;
            visibility: hidden;
            margin-top: 1rem;
            line-height: 40px;
            overflow: hidden;
            text-align: center;
            height: 0;
            transition: height 600ms ease-out;
            background: #222;
            border-radius: 0 0 5px 5px;
            color: #eee;
            box-sizing: border-box;
            border-top: 1px solid #fff;
        }
        .close input {
            cursor: pointer;
            width: 100%;
            height: 100%;
            margin: 0;
            top: 0;
            left: 0;
        }
        input:checked + .card + .close {
            height: 40px;
            visibility: visible;
        }
    }
}
.no-js .cards label,
.no-js .cards .close,
.no-js .cards + .close-all{
    display: none;
}

.no-js .front,
.no-js .back {
    display: block;
    position: static;
}
.no-js .cards label {
    height: auto;
    cursor: initial;
    perspective: unset;
}
.no-js label:hover .card {
    box-shadow: none;
}
.no-js #main .front,
.no-js #main .back,
.no-js #main .card {
    transform: rotateX(0);
}

.no-js .no-js-hide {
    display: none;
}
.no-js video {
    max-width: 100%;
}
.no-js .cards noscript {
    width: 30%;
}