/* expects:
.cards
    .card
        .front
        .back
    ...
*/
.cards {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2rem;
    align-items: flex-start;
}
.cards-wrapper:focus-within {
    outline: 2px solid #9ecaed;
    outline-offset: 0;
    box-shadow: 1px 6px 14px -5px #185281;
}
.card {
    width: 100%;
    max-width: 650px;
    margin: 0 auto 1rem 0;
    position: static;
}
.card:focus-within {
    position: relative;
}
.card-skip-link:focus,
.play-video:focus {
    position: absolute;
    top: 5px;
    left: 5px;
}
.back {
    width: 100%;
    position: relative;
    padding-top: 56.25%;
}
.show-status,
.hide-status {
    display: none;
}
.transcript-toggle {
    align-self: start;
    -webkit-appearance: none;
}
.transcript-toggle span {
    pointer-events: none;
}
.transcript-toggle[aria-expanded=false] .show-status {
    display: block;
}
.transcript-toggle[aria-expanded=true] .hide-status {
    display: block;
}
.transcripts {
    flex-direction: column;
}
.transcript {
    transition: all 600ms ease-in;
    max-width: 650px;
    margin: 0 auto;
    height: 350px;
    overflow: auto;
    border: 1px solid #222;
    padding: 1rem;
    box-sizing: border-box;
    box-shadow: 0px -12px 14px -14px inset #222;
    scrollbar-color: blue;
    scrollbar-shadow-color: #01a9b2;
    scrollbar-width: 50px;
    color: unset;
}
/* width */
.transcript::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.transcript::-webkit-scrollbar-track {
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom: 0;
}
/* Handle */
.transcript::-webkit-scrollbar-thumb {
    background: #eee;
    border-radius: 10px;
}
/* Handle on hover */
.transcript::-webkit-scrollbar-thumb:hover {
    background: var(--secondary);
}
.transcript.closed {
    height: 0;
    padding: 0;
    border-color: transparent;
    display: none;
}
.transcript h4 {
    margin-top: 0;
}
.card .transcript {
    visibility: inherit;
}
.card .transcript .close a,
:active + .card .transcript:target .close {
    visibility: visible;
}
.card iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.close-all,
.cards input {
    display: none;
}
.nautical-language {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
}
.nautical-language .video-wrapper iframe{
    border: 0;
    min-width: 400px;
}
@media (min-width: 756px) and (max-width: 980px){
    .cards-wrapper .cards {
        flex-wrap: wrap;
        align-items: center;
    }
    .cards div.card {
        width: 45vw;
        margin: 0.5rem;
        min-height: auto;
    }
    .cards-wrapper .card .content{
        max-width: 60vw;
    }
    .card.active .back {
        max-width: 100%;
    }
}
@media screen and (min-width: 756px) {
    .cards {
        flex-direction: row;
    }
    .cards .card {
        perspective: 1000px;
        transform-style: preserve-3d;
        display: inline-flex;
        width: auto;
        min-width: 300px;
        min-height: 200px;
        cursor: pointer;
        border-radius: 5px;
        max-width: none;
        margin: 0 0.5rem;
        padding: 0;
        max-height: none;
        flex-grow: 0;
        flex-basis: auto;
        flex-shrink: 1;
        margin-bottom: 1rem;
    }
    .cards .card:first-of-type {
        margin-left: 0;
    }
    .cards .card:last-of-type {
        margin-right: 0;
    }
    .card .content{
        position: relative;
        height: 100%;
        width: 100%;
        min-height: 56.25%;
        transform-style: preserve-3d;
        transition: all 600ms;
        z-index: 1;
    }
    .back a,
    .back a:visited {
        color: #01a9b2;
    }
    .back .card-button {
        background: var(--paper);
        border-radius: 5px;
        cursor: pointer;
        position: relative;
        z-index: 5;
        margin: 0.5rem;
        padding: 0.75rem;
        align-self: flex-start;
    }
    .back .card-button:hover {
        background: var(--secondary);
    }
    .card .back .card-button a {
        text-decoration: none;
        font-size: 1rem;
        color: #222;
        margin: 0;
    }
    .card h3 {
        max-width: 100%;
        margin: 0;
        padding: 0.5rem;
        text-shadow: 0px 0px 4px rosybrown;
        font-size: 2rem;
        line-height: 1.2;
    }
    .transcript {
        color: #eee;
    }
    @supports (transform-style: preserve-3d) {
        .card .content{
            display: inline-flex;
            flex-wrap: wrap;
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: auto;
        }
        .card .front,
        .card .back {
            backface-visibility: hidden;
            position: relative;
            display: flex;
            align-items: center;
            max-width: 25vw;
            transition: all 600ms;
            width: 100vw;
            flex-wrap: wrap;
        }
        .card .front {
            min-height: 100%;
            position: absolute;
            width: 100%;
            left: 50%;
            top: 0;
            transform: translate(-50%, 0);
            background: url(../images/wood-light.jpg);
            background-size: cover;
            max-width: 100%;
        }
        .card .back {
            background: #222;
            color: #fff;
            transform: rotateX(180deg);
            visibility: hidden;
        }
        .card:focus-within {
            outline: 2px solid #9ecaed;
            outline-offset: 0;
            box-shadow: 1px 6px 14px -2px blue;
        }
        .card:focus-within .content,
        .card:hover .content{
            transform: rotateX(20deg);
            box-shadow: 0 20px 20px rgba(50, 50, 50, 0.2);
        }
        .card.active .content{
            transform: rotateX(180deg);
            box-shadow: 0 20px 20px rgba(50, 50, 50, 0.2);
        }
        .close-all input,
        .cards input {
            cursor: pointer;
            display: block;
            position: absolute;
            left: 50%;
            bottom: 50%;
            opacity: 0;
        }
        .close-all {
            margin: 1rem 0 3rem 0;
            display: block;
        }
        .close-all input {
            bottom: -0.5rem;
        }
        .close-all .btn {
            padding: 0.5rem 5rem;
            display: inline-block;
            transition: all 400ms;
            overflow: hidden;
            cursor: pointer;
            background: #fff;
        }
        .cards-wrapper .close-all button {
            padding: 0.5rem 5rem;
            background: #fff;
            color: #222;
            cursor: pointer;
        }
        .cards-wrapper.no-active .close-all button {
            color: #dbdbdb;
            background: #424242;
            cursor: not-allowed;
            padding: 0 1rem;
            line-height: 0;
        }
        .card.active .back {
            display: flex;
            visibility: visible;
            max-width: 60vw;
        }
        .back.game-card a {
            margin: 0 0 0 1rem;
        }
        .card.active .back.game-card:after {
            content: "";
            padding-bottom: 35%;
            display: block;
        }
    }
}
.no-js .cards + .close-all {
    display: none;
}
.no-js .cards {
    display: block;
}
.no-js .cards .card {
    display: block;
    width: 100%;
}
.no-js .front,
.no-js .back {
    display: block;
    position: static;
    width: 100%;
    padding: 0;
}
.no-js .back {
    display: flex;
    flex: 1;
    max-width: 100%;
}
.no-js .responsive-wrapper {
    position: static;
    max-width: 55%;
    display: block;
    padding: 0;
}
.no-js .cards .back noscript {
    /* display: block;
    padding-bottom: 56.25%; */
}
.no-js .transcript-toggle {
    display: none;
}
.no-js .transcript {
    display: block;
    height: 350px;
    width: 40%;
}
.no-js .cards .card {
    height: auto;
    cursor: initial;
    perspective: unset;
}
.no-js .card:hover {
    box-shadow: none;
}
.no-js #main .front,
.no-js #main .back,
.no-js #main .card .content{
    transform: rotateX(0);
    visibility: initial;
}
.no-js .no-js-hide {
    display: none;
}
.no-js video {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
}
