.comic-wrapper {
    width: 700px;
    height: 100%;
    max-width: 100%;;
    margin: 0 auto;
    padding: 5px;
    border: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column nowrap;
}

.comic-wrapper .panels {
    height: 500px;
    margin: 2rem auto;
    display: flex;
    overflow: auto;
    outline: 1px dashed lightgray;
    flex: none;
    width: 100%;
    flex-flow: row nowrap;
    scroll-snap-type: x mandatory;    
}

.panels>div:first-of-type {
    background: #1b1b1b;
}

.panels>div {
    padding: 0;
    display: flex;
    max-height: 100%;
    max-width: 100%;
    width: 700px;
    height: 100%;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
    flex: none;
}

.comic-wrapper img {
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: auto;
    object-fit: contain;
}