footer {
    text-align: center;
    background: #1b1b1b;
    color: #fff;
	margin: 0;
	margin-top: -5px;
	padding: 4.1rem 4rem 1rem 4rem;
	box-sizing: border-box;
	width: 100%;
	border-radius: 5px 5px 0 0;
	min-height: 250px;
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
}
footer a {
	display: block;
}
footer .site-title,
footer h3 {
	margin:0;
}
footer .site-title {
	/* grid-column: 1/1; */
	font-size: 2.85rem;
	line-height: 3rem;
}
footer h3 {
	height: 5rem;
}
.vmm {
	/* grid-column: 2/2; */
}
.vmm img {
	width: 125px;
}
.info {
	/* grid-column: 3/3; */
}
.resources {
	/* grid-column: 4/4; */
}
.sub-footer {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: flex-end;
}
.sub-footer div {
	display: inline-block;
}
.sub-footer a {
	line-height: 1.6rem;
}
footer .copyright {
	margin-right: auto;
}

footer a {
	color: lightgray;
}

footer .content {
	display: block;
}

@media screen and (min-width: 1440px) {
	footer .copyright {
		align-self: flex-end;
	}
}
@media screen and (max-width: 1024px) {
	footer h3 {
		height: auto;
	}
	footer .vmm .content {
		display: flex;
	}
	footer .vmm {
		width: 100%;
		display: flex;
		margin: 3rem auto;
		justify-content: center;
	}
	footer .vmm .content p {
		margin: 0;
	}
}
@media screen and (max-width: 425px) {
	footer {
		justify-content: center;
	}
}

@media screen and (max-width:375px) {
	footer .col {
		width: 100%;
		margin: 0;
		margin-bottom: 1rem;
	}
	/* footer h3 {
		height: auto;
	} */
	footer a {
		font-size: 1.4rem;
		margin: 1rem;
	}
	.sub-footer {
		flex-direction: column-reverse;
	}
	.sub-footer div {
		width: 100%;
	}
}