.contact-form {
    /* width: 100%; */
    /* text-align: center; */
}
.contact-form fieldset {
    /* width: 500px;
    margin: 0 auto; */
}
.freecontactform {
    width: 460px;
    font-family: arial;
    border: 1px solid #aaa;
    padding: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.freecontactformheader {
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.freecontactformmessage {
    text-align: center;
    padding-bottom: 10px;
}
.freecontactform td {
    padding: 4px;
    font-size: 12px;
}
.freecontactform p {
    padding: 4px;
}
.freecontactform label {
    padding: 4px;
}
.freecontactform label {
    padding-right: 10px;
}
.required_star {
    font-weight: bold;
    color: #d60000;
}
.not-required {
    font-weight: normal;
}
.antispammessage {
    padding: 10px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    font-weight: bold;
}
.antispamquestion {
    font-weight: normal;
}
#email_body {
    min-width: 300px;
    width: 650px;
    max-width: 100%;
}
.contact-form textarea,
.contact-form input {
    font-size: 1rem;
    border-bottom: 1px solid #222;
    padding: 5px;
    box-shadow: none;

}
.contact-form button {
    border: 1px solid #222;
    border-radius: 5px;
    padding: 1rem 2rem;
    font-size: 1rem;
}
