.contact-form {
    max-width: 100%;
    width: 650px;
    margin: 0 auto;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    flex-direction: column;
}
.contact-form fieldset {
    border: none;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    box-sizing: border-box;
}

.contact-form hr {
    margin: 2rem 0 1rem 0;
}
.required_star {
    font-weight: bold;
    color: #d60000;
}
.not-required {
    font-weight: normal;
}
.antispammessage {
    padding: 10px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    font-weight: bold;
}
.antispamquestion {
    font-weight: normal;
}
#email_body {
    min-width: 250px;
    max-width: 100%;
}
.contact-form textarea,
.contact-form input {
    font-size: 1rem;
    border-bottom: 1px solid #222;
    padding: 5px;
    box-shadow: none;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #222;
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
}
.contact-form button {
    border: 1px solid #222;
    border-radius: 5px;
    padding: 1rem 2rem;
    font-size: 1rem;
    display: inline;
}
.contact-form button[type="reset"] {
    float: right;
} 

.contact-form label {
    font-weight: bold;
    font-family: var(--sans-serif-font);
    margin-bottom: 1rem;;
    width: 100%;
}
