.gallery {
    text-align: center;
    position: relative;
    z-index: 1;
}

.gallery>p {
    margin: 1rem auto;
}

.gallery h2 {
    text-align: left;
    margin-left: 12%;
    width: 85%;
    box-shadow: 0 5px 5px -5px #333;
    ;
    padding: 0 0 0 3%;
}

.gallery ul {
    display: inline-flex;
    padding: 0;
    justify-content: center;
}

.gallery ul:hover li {
    opacity: 0.6;
}

.gallery ul:hover li:hover {
    opacity: 1;
    transform: scale(1.1);
}

.gallery li {
    transition: all .2s;
    flex-grow: 1;
    flex-shrink: 1;
    height: auto;
    list-style-type: none;
    display: inline-block;
    padding: 1rem;
    vertical-align: top;
    max-width: 220px;
    max-height: 220px;
    min-width: 40px;
}

.gallery li img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.tobii__slide .tobii-image figure>figcaption {
    white-space: pre-line;
    padding: 50px;
    padding-top: 0;
}
.tobii-image,
.tobii-image figure {
    width: 100vw;
    display: flex;
    flex: 1;
    justify-content: center;
    flex-wrap: wrap;
}
.tobii-image img {
    margin-bottom: -1rem;
}
.tobii-image figure {
    display: flex;
    overflow: visible;
    height: 90vh;
}
.tobii__slide .tobii-image figcaption {
    position: static;
    max-width: 400px;
    overflow: auto;
    max-height: 100%;
}


.gallery figcaption {
    display: none;
}
.gallery figure {
    margin: 0;
}