.gallery {
    text-align: center;
    position: relative;
    z-index: 1;
}
.gallery > p {
    margin: 1rem auto;
}
.gallery h2 {
    text-align: left;
    margin-left: 12%;
    width:85%;
    box-shadow: 0 5px 5px -5px #333;;
    padding: 0 0 0 3%;
}
.gallery ul {
    display: inline-flex;
    padding: 0;
    justify-content: center;
}
.gallery ul:hover li {
    opacity: 0.6;
}
.gallery ul:hover li:hover {
    opacity: 1;
    transform: scale(1.1);
}

.gallery li {
    transition: all .2s;
    flex-grow: 1;
    flex-shrink: 1;
    height: auto;
    list-style-type: none;
    display: inline-block;
    padding: 1rem;
    vertical-align: top;
    max-width: 150px;
    max-height: 150px;
    min-width: 40px;
}
.gallery li img {
    max-height: 100%;
    max-width: 100%;
}

.gallery .description {
    text-align: left;
    box-sizing: border-box;
    background: #222;
    padding: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: all 400ms;
    color: #eee;
    opacity: 0;
    visibility: hidden;
    transition: all 600ms ease-in-out;
}
.gallery .description * {
    transition: none;
}
.gallery .description h3 {
    margin: 0;
    margin-right: 100px;
    padding-top: 1rem;
}
.gallery .open {
    position: relative;
    display: flex;
    align-items:center;
    height: 100%;
    background: var(--paper);
    border-radius: 5px;
    padding: 0.2rem;
    justify-content: center;
}
.gallery .open:after {
    content: url(../images/icons/expand.svg);
    position: absolute;
    width: 20px;
    display: block;
    right: 5px;
    top: 5px;
    background: white;
    border-radius: 50%;
    height: 20px;
    border: 1px solid black;
}
.gallery .description:target {
    max-height: none;
    opacity: 1;
    height: auto;
    visibility: visible;
    /* max-width: none; */
    overflow: auto;
}
.gallery .description:target figure {
    display: inline-flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-grow: 1;
    margin: 0;
    padding: 1rem;
    background: inherit;
    border-radius:5px;
}
.gallery .description:target img {
    /* max-width: none; */
    margin-bottom: 1rem;
}
.gallery .close {
    position: absolute;
    background: #eee;
    box-shadow: 2px 2px 1px 0px #999;
    top: 0.5rem;
    right: 0.5rem;
}

.gallery figcaption {
    float: left;
    margin: 0 1rem;
    padding: 1rem;
    max-width: 780px;
    color: #222;
    background: #eee;
}

@media (max-width:580px) {
    #gallery figure {
        margin-top: 1rem;
    }
    .gallery .description h3 {
        padding-top: 2rem;
    }
}