#gallery ul {
    display: inline;
    padding: 0;
    margin: 0 auto;
}

#gallery li {
    list-style-type: none;
    display: inline-block;
    padding: 1rem;
    vertical-align: top;
}

.gallery li img {
    max-width: 150px;
    height: auto;
    float: left;
}

.gallery li:target img {
    max-width: none;
}

.gallery .description {
    box-sizing: border-box;
    background: #222;
    padding: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    position: relative;
    transition: all 600ms ease-in-out;
}
.gallery .description:target {
    width: 100%;
    height: auto;
    padding: 1rem;
    color: #eee;
}

.gallery .close {
    position: absolute;
    background: #eee;
    box-shadow: 2px 2px 1px 0px #888;
    top: 0.5rem;
    right: 0.5rem;
}
.gallery figcaption {
    float: left;
    margin-right: 1rem;
    max-width: 780px;
    transition: all 600ms ease-in-out;
}