#game {
    border: 1px solid gray;
    padding: 2rem 1rem;
    box-shadow: 3px 3px 7px #989898;
    border-radius: 3px;
    max-width: 980px;
    margin: 0 auto;
}
#game-intro {
    max-width: 600px;
    margin: 0 auto;
}
.question h3 {
    font-family: var(--serif-font);
}
#play {
    display: none;
}
#game:target #play {
    display: inline;
}
#game:target > a {
    display: none;
}

/* .question {
    display: none;
}
.question.active {
    display: block;
} */

.map {
    width: 70%;
}
.map svg {
    position: absolute;
    width: 100%;
    height: 100%;
}
.status {
    width: 10%;
    position: relative;
}
.counters {
    width: 20%;
}

#status {
    height: 100%;
    width: 3px;
    background: gray;
    margin: 0 auto;
    text-align: center;
}
#status > span {
    display: block;
    transform: translate(-50%, -35%);
    /* content: ''; */
    width: 25px;
    height: 25px;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    /* background: blue; */
    border: 1px solid blue;
    background: var(--secondary);

    /*this needs to be incremented to show progress*/
    top: var(--complete);
}
#status > span {
    font-size: 11px;
    /* left: 10px;
    top: 3px; */
    /* display: inline-block; */
}
#sail-game .question{
    z-index: 1;
    background: rgba(0,0,0,0.9);
    padding: 25px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: var(--gold);
    font-size: 2rem;
}
.question label {
    box-sizing: border-box;
    border: 2px solid transparent;
}
.tile {
    display: block;
}
.tile > input[type="radio"]{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.tile > input[type="radio"]:checked+label{
    border-color: var(--secondary);
    border-radius: 5px;
    background: var(--gold);
}
.question label p {
    margin: 0;
    padding: 0 1rem;
}
.question label {
    color: #000;
    font-family: var(--serif-font);
    border-radius: 5px;
    /* background: var(--secondary); */
    font-size: 1rem;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}
.question .btn {
    background: var(--secondary);
    font-size: 1rem;
    margin-top: 3rem;
}
.tile .btn {
    margin-top: 0;
    padding: 10px;
}
.option-letter {
    font-size: 1.4rem;
    padding:0 8px;
    display: none;
}