#game {
    border: 1px solid gray;
    padding: 2rem 1rem;
    box-shadow: 3px 3px 7px #989898;
    border-radius: 3px;
    max-width: 980px;
    margin: 0 auto;
}
.question h3 {
    font-family: var(--serif-font);
}
#play {
    display: none;  
}
#game:target #play {
    display: inline;
}
#game:target > a {
    display: none;
}

/* .question {
    display: none;
}
.question.active {
    display: block;
} */

.map {
    width: 70%;
}
.map svg {
    position: absolute;
    width: 100%;
    height: 100%;
}
.status {
    width: 10%;
}
.counters {
    width: 20%;
}