#game {
    border: 1px solid gray;
    padding: 2rem 1rem;
    box-shadow: 3px 3px 7px #989898;
    border-radius: 3px;
    max-width: 980px;
    margin: 0 auto;
}
.question h3 {
    font-family: var(--serif-font);
}
#play {
    display: none;  
}
#game:target #play {
    display: inline;
}
#game:target > a {
    display: none;
}

/* .question {
    display: none;
}
.question.active {
    display: block;
} */

.map {
    width: 70%;
}
.map svg {
    position: absolute;
    width: 100%;
    height: 100%;
}
.status {
    width: 10%;
    position: relative;
}
.counters {
    width: 20%;
}

#status {
    height: 100%;
    width: 4px;
    background: gray;
    margin: 0 auto;
}
#status:before {
    display: block;
    transform: translate(-50%, -50%);
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    /* background: blue; */
    border: 1px solid blue;

    /*this needs to be incremented to show progress*/
    top: var(--complete);
}
#sail-game .question{
    position: absolute;
    z-index: 1;
    background: rgba(0,0,0,0.9);
    padding: 25px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: var(--gold);
    font-size: 2rem;
}

.tile > input[type="radio"]{
    display:none;
}
.tile > input[type="radio"]:checked+label{
    border: 2px solid var(--secondary);
    border-radius: 5px;
}
.question label p {
    margin: 0;
}

.question .btn {
    border-radius: 5px;
    background: var(--secondary);
    font-size: 1rem;
    margin-top: 3rem;
}