header {
    background: var(--main-bg-color);
    background-image: url(../images/native-view.jpg);
    background-size: cover;
    background-position-y: 65%;
    color: #eee;
    font-weight: 300;
    margin: 0;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 6px 21px -2px #222;
    position: relative;
    z-index: 2;
    background-color: #111;
    max-height: 250px;
    transition: all 0.2s;
}
header:after {
    content: "";
    background: rgb(34, 34, 34, 0.7);
    background: linear-gradient(
        -90deg,
        rgba(34, 34, 34, 1) 0%,
        rgba(34, 34, 34, 0.5) 30%,
        rgba(34, 34, 34, 0.5) 100%
    );
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    pointer-events: none;
}
header * {
    z-index: 2;
}
.super-nav {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    align-items: flex-start;
}
.super-nav .lang-link {
    margin: 4px 16px;
    color: #fff;
    /* text-shadow: 1px 1px 1px #fff; */
    /* background: rgba(255, 255, 255, 0.3); */
    padding: 0 4px;
    font-weight: bold;
    display: block;
    padding: 0.5rem 1rem;
    background: rgba(90, 90, 90, 0.7);
    border: 1px solid rgba(184, 134, 11, 0.3);
    font-weight: 100;
    font-size: 1rem;
    border-radius: 3px;
    box-shadow: 3px 7px 14px -10px black;
}
.dmc-logo {
    height: auto;
    min-height: 40px;
    min-width: 120px;
    max-height: 50px;
}

header nav {
    position: absolute;
    right: 16px;
    bottom: 0;
    display: flex;
    max-width: calc(100% - 500px);
    width: 100%;
    padding: 0;
}

@media screen and (min-width: 1400px) {
    header nav {
        display: flex;
        max-width: calc(100% - 500px);
        width: 100%;
        padding: 0 0 0 15px;
        align-items: flex-end;
        box-sizing: border-box;
        margin-left: auto;
    }
}

.site-title {
    text-align: left;
    max-width: 500px;
    font-size: 6rem;
    line-height: 6rem;
    font-family: serif;
    font-family: var(--header-font), script;
    display: flex;
    margin: 1rem;
    margin-left: 0;
    padding-bottom: 1rem;
}
.site-title a {
    z-index: 2;
    position: relative;
    font-size: inherit;
    line-height: 5.5rem;
    /* border-bottom: 1px solid #d4af37; */
}
header .btn {
    display: none;
}
nav {
    padding: 20px 0 0 0;
    transition: all 0.2s ease;
}
nav ul {
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 0;
}
nav li {
    list-style-type: none;
    display: flex;
    margin-left: 4px;
    text-align: center;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.8);
    width: calc(20%);
    align-items: center;
    border-bottom: 2px solid transparent;
    border-radius: 4px 4px 0 0;
    z-index: 1;
}
/* nav .link:first-of-type {
    display: none;
} */
/* header .open {
    visibility: visible;
    transform: scaleY(1);
} */
@media screen and (min-width: 1591px) {
    nav .link {
        width: auto;
    }
    nav .link:first-of-type {
        display: flex;
    }
}
nav .current {
    border-bottom: 2px solid #fde08d;
    background: #9e8c58;
}
.current a {
    background: initial;
    -webkit-text-fill-color: #000;
    color: #000;
}
.link a {
    padding: 10px 15px;
    display: inline-block;
    margin: 0 auto;
    width: 100%;
}
@media sceen and (max-width: 1330px) {
    header nav ul {
        display: flex;
    }
}
@media screen and (max-width: 1168px) {
    .site-title {
        font-size: 4rem;
        line-height: 1;
        max-width: 100%;
        padding: 14px 0 20px 0;
        box-sizing: border-box;
    }
    .site-title a {
        line-height: inherit;
    }
    header nav {
        position: static;
        max-width: 100%;
    }
    header nav ul {
        display: flex;
        flex-basis: 0px;
        flex-grow: 1;
        flex-shrink: 1;
        margin-top: 50px;
    }
    header .link {
        margin-top: -2px;
        box-sizing: border-box;
    }
    header .link a {
        padding: 4px;
        min-height: 40px;
        box-sizing: border-box;
        line-height: 40px;
    }
    .lang-link {
        margin-top: 1rem;
    }
}
@media screen and (max-width: 883px) {
    header {
        display: flex;
        position: relative;
        align-items: flex-start;
        flex-wrap: wrap;
        padding-top: 55px;
        overflow: hidden;
        box-sizing: content-box;
        transition: all 600ms ease-out;
        max-height: 140px;
        box-shadow: inset 0 -10px 10px -10px #000000;
    }
    #nav-menu {
        position: absolute;
        top: 75px;
    }
    /* #top-nav ul */
    header.open {
        padding-bottom: 250px;
        background-position: bottom;
    }
    .site-title {
        font-size: 4rem;
        line-height: 1;
        max-width: calc(100% - 80px);
        position: relative;
        padding: 1rem 0;
        margin: 0;
        flex-direction: column;
        height: 100%;
    }
    .site-title .gold {
        background: linear-gradient(to right, #fde08d, #a79067);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        align-self: start;
    }
    .no-js header {
        max-height: none;
    }
    .no-js #top-nav {
        visibility: visible;
        transform: scaleY(1);
    }
    .link.current {
        background: var(--secondary);
    }
    header .btn {
        display: block;
        background: #fff;
        padding: 6px;
        margin-left: auto;
        position: absolute;
        top: 70px;
        right: 8px;
        padding-right: 2em;
        font-size: 16px;
        border: none;
        border-radius: 3px;
    }
    header .btn:after {
        content: "";
        position: absolute;
        right: 0.25em;
        top: 8px;
        width: 20px;
        height: 3px;
        background: #1b1b1b;
        box-shadow: 0 6px 0 0 black, 0 12px 0 0 black;
    }
    header nav ul {
        flex-direction: column;
        background: var(--paper);
    }
    header .link {
        width: 100%;
        border-radius: 0;
        border: 1px solid;
        border-color: rgba(0, 0, 0, 0.1);
        margin: 0;
        background: none;
    }
    header .link a {
        text-align: left;
        width: 100%;
        padding: 0 10px 0 20px;
        background: #1b1b1b;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .super-nav {
        width: 100%;
        height: 60px;
        top: 0;
        left: 0;
        background: #1b1b1b;
        padding: 0;
        display: flex;
        box-sizing: border-box;
        z-index: 2;
    }
    .super-nav .lang-link {
        margin-right: auto;
        margin-top: 1rem;
        align-self: start;
        color: #fff;
        font-weight: normal;
        text-shadow: unset;
    }
}
@media screen and (max-width: 370px) {
    .site-title {
        font-size: 3rem;
    }
}
@media screen and (max-width: 300px) {
    .site-title {
        max-width: 100%;
    }
    header {
        padding-top: 140px;
    }
}

@media (max-width: 884px) and (min-width: 623px) {
    #top-nav > ul {
        margin-top: 70px;
    }
}