@import "slider.css";
:root {
    font-size: 16px;
}
body {
    margin: 0 auto;
    background: #f8f8f6;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
header,
footer,
main {
    background: #f8f8f6;
    margin: 0;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    flex-shrink: 0;
}
main {
    max-width: 1600px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0;
    margin: 0 auto;
    flex: 1 0 auto;
}
p {
    max-width: 1048px;
}
img {
    max-width: 100%;
}
.vmc-logo {
    height: 38px;
}
.pull-quote p {
    max-width: none;
}
h1 {
    font-size: 8.5rem;
    text-align: center;
    font-weight: normal;
    margin: 0;
}
.medium-large {
    font-size: 1.25rem;
    line-height: 1.45rem;
}
.large {
    font-size: 1.5rem;
}
.no-list {
    list-style-type: none;
}
.inline {
    display: inline;
}
*:focus:not(body) {
    outline: 2px solid #9ecaed;
    outline-offset: 4px;
}
.pull-quote {
    font-size: 1.5rem;
    line-height: 1.75rem;
    padding: 0 1rem;
}
.site-title {
    padding: 20px 0 0 0;
    text-align: left;
    font-size: 2rem;
    display: block;
}

.relative {
    position: relative;
}
.z2 {
    z-index: 2;
}
.tiles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    width: 100%;
    flex: 1;
}
.tiles > a {
    width: 25%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: 50px 5px;
    margin: 5px;
    display: inline-block;
    text-align: center;
    position: relative;
    min-width: 150px;
}
.tile {
    position: relative;
    margin: 0;
}
.tile figcaption {
    position: absolute;
    box-sizing: border-box;
    bottom: 25%;
    width: 100%;
    padding: 10px;
    text-shadow: #000 2px 2px;
    color: #fff;
}
.right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: right;
    -webkit-box-align: flex-end;
        -ms-flex-align: flex-end;
            align-items: flex-end;
    width: 300px;
}
.right a {
    margin-right: 1rem;
}
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
            flex: 1 0 0;
    display: flex;
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
}
.pull-right {
    float: right;
}
.border {
    border: 1px solid #000;
}
.no-border {
    border: 0;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-center p {
    margin-left: auto;
    margin-right: auto;
}
.btn {
    padding: 1rem 2rem;
    border: 1px solid #000;
    background: none;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    font-family: 'PT Sans', sans-serif;
}
.trigger {
    cursor: pointer;
    background: none;
    border: none;
}
.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.flex-bottom > * {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: end;
        align-self: flex-end;
}
label {
    display: block;
    margin: 5px 0;
}
main {
    padding-bottom: 40px;
}
nav {
    padding: 20px 0 0 0;
}
nav ul{
    margin: 0;
    padding: 20px 0;
}
nav li {
    list-style-type: none;
    padding: 10px;
    line-height: 20px;
    display: inline;
    /* border: 1px solid #ccc; */
    margin-left: -5px;
}
nav .current a {
    font-weight: bold;
    border-bottom: 2px solid #000;
    padding-bottom: 2px;
}
.workshop .current a {
    border-bottom: 2px solid #fff;
}
header a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #000;
}
footer {
    text-align: center;
    background: #000;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
footer .block {
    padding: 15px 20px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
}
footer a {
    color: #fff;
}
footer a {
    color: lightgray;
}
a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}
.banner {
    min-width: 150px;
}
.wood-bg {
    background-image: url("/images/wood-bg.jpg");
    background-position: bottom;
}

/* individual page styles */
.splash,
.splash main {
    background: #000;
    color: #fff;
}
.splash h1 {
    text-align: center;
    font-weight: 100;
    font-size: 6.6rem;
    margin: 0;
    margin-top: 6rem;
}
.splash .pull-quote {
    margin-bottom: 3.4rem;
}
.splash .btn {
    margin-top: 2rem;
    color: #fff;
    border-color: #fff;
    font-size: 1.2rem
}
.workshop {
    background: #000;
    background-image: url("/images/workshop-bg.jpg");
}
.workshop .lightbox-trigger > img {
    height: 220px;
    width: auto;
    max-width: none;

}
.workshop *:not(footer) {
    background: none;
    color: #fff;
}
.workshop-footer {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    margin-top: -170px;
}
.workshop-footer>span{
    margin-right: 1rem;
}
.dragging {
    opacity: 0.4;
}
.error {
    border: 1px solid red;
}

.justify-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
/* Unopened lightbox */
.lightbox {
    display: none;
}
.lightbox.center video{
    z-index: 2;
    position: absolute;
    top: 7.5rem;
    width: 100vw;
    max-width: none;
    left: 0;
    background: black;
}

/* Opened lightbox */
.lightbox:target {
    position: fixed;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 2rem;
}
.lightbox video {
    max-height: calc(90vh - 100px);
}
.lightbox .able-wrapper {
    width: calc(85%) !important;
    margin: 0 auto;
    max-width: 100% !important;
}
/* Close button */
.lightbox .close {
    color: rgba(0,0,0,0);
    width: 0;
}
.lightbox .close::after {
    width: 8rem;
    height: 4rem;
    right: 0;
    top: 0;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: white;
    color: white;
    font-weight: bold;
    border-radius: 0 0 0 5px;
    color: black;
    content: "Close Video";
    cursor: pointer;
    z-index: 3;
}

/* Lightbox overlay */
.lightbox .close::before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,.8);
    content: "";
    cursor: default;
}
.white-svg {
    stroke: white;
    fill: white;
}