.site-advisory {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 120%);
    padding: 2rem;
    box-sizing:border-box;
    width: 90%;
    background: var(--paper);
    border-radius: 0 0 5px 5px;
    transform-origin: bottom;
    animation: 600ms 1 normal forwards scale-up 1s;
    animation-timing-function: cubic-bezier(0,.82,.83,1.31);
    box-shadow: 4px 12px 6px -12px black inset, 0px -4px 12px 1px #000;
    z-index: 0;
}


/* 
.site-advisory {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%), scaleY(0);
    padding: 2rem;
    box-sizing:border-box;
    width: 100%;
    background: var(--paper);
    border-radius: 0 0 5px 5px;
    transform-origin: top;
    animation: 600ms ease-out 1 normal forwards scale-down 1s;
    box-shadow: 4px 12px 6px -12px black inset, 0px -4px 12px 1px #000;
}
.site-advisory p {
    font-size: 1.1rem;
    margin: 0 auto;
    text-align: left;
}
*/
@keyframes scale-up {
    from {
        transform: translate(-50%, 110%);
    }
    to {
        transform: translate(-50%, 1rem);
    }
} 