.site-advisory > p {
    margin: 0 auto;
    max-width: 900px
}

.site-advisory {
    margin: 4rem auto 0 auto;
    padding: 2rem 2rem 4rem 2rem;
    /* width: 90%; */
    background: var(--paper);
    /* border-radius: 5px; */
    /* box-shadow: 1px 1px 4px 0px #222; */
}