.comic-wrapper {
  /* width: 700px;
  height: 600px;
  max-width: 100%; */
  /* max-height: 500px; */
  margin: 1rem auto 4rem auto;
  background-color: rgba(204,204,204,0.7);
  padding: 1rem;
  /* position: relative; */
  /* display: flex; */
}
.slick-slider img{
  /* max-height: 500px; */
  margin: 0 auto;
}
div.slick-track {
  /* display: flex;
  align-items: center;
  justify-items: center; */
}
button.slick-slider {
  /* position: static; */
}
/* button.slick-arrow {
  bottom: -100px;
  left: 50%;
  top: unset;
  z-index: 100;
}
button.slick-next:focus,
button.slick-prev:focus {
  top: unset;
}
button.slick-prev {
  left: calc(50% - 20px);
}
button.slick-next {
  left: calc(50% + 20px);
  right: unset;
} */
.panels .slick-slide {
  /* display: flex;
  justify-items: center;
  align-items: center;
  background: black; */
  /* height: auto; */
}
/* .panels img {
  width: 400px;
  min-width: 300px;
  object-fit: contain;
  margin: 0 auto;
} */