.gold {
    text-decoration: none;
    color: #d4af37;;
    font-weight: 100;
}

@supports (background-clip: text) {
    .gold {
        background: -webkit-linear-gradient(top, #8f6b29, #fde08d, #df9f28);
        background: linear-gradient(to bottom, #8f6b29, #fde08d, #df9f28);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

h1,
h2,
h3 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: normal;
    font-family: sans-serif;
    font-family: var(--title-font), sans-serif;
    line-height: 1.4;
    margin-bottom: var(--margin-bottom);
}
h2 {
    font-size: 2.2rem;
}
.subtitle {
    font-size: 1.5rem;
    font-family: var(--sans-serif-font), serif;
}
h3 {
    font-size: 2rem;
    line-height: 1.4;
}
.breadcrumb {
    font-size: 1rem;
    margin-top: var(--margin-top);
}
@media (max-width: 620px) {
    :root {
        font-size: 14px;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.8rem;
    }
    h3 {
        font-size: 1.6rem;
        line-height: 1.4;
    }
}
.home-intro {
    max-width: 900px;
    margin: 2rem auto 1rem auto;
    text-align: center;
}
.welcome-header {
    font-size: 3rem;
    background-image: url(../images/banner.svg);
    background-size: contain;
    margin: 2rem auto 0 auto;
    width: 900px;
    background-repeat: no-repeat;
    height: 80px;
    background-position: center;
    padding-top: 70px;
    max-width: 100%;
}
@media (max-width: 900px) {
    .welcome-header {
        height: 65px;
        padding-top: 65px;
    }
}
@media (max-width: 460px) {
    .welcome-header {
        background: none;
        margin: 2.5rem 0 0 0;
        padding: 0;
        text-align: left;
        height: auto;
    }
}
@media (max-width: 320px) {
    :root {
        font-size: 12px;
    }
}