.gold {
    text-decoration: none;
    color: #d4af37;
    ;
    font-weight: 300;
}

@supports (background-clip: text) {
    .gold {
        background: -webkit-linear-gradient(top, #8f6b29, #fde08d, #df9f28);
        background: linear-gradient(to bottom, #8f6b29, #fde08d, #df9f28);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

h1,
h2,
h3 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: normal;
    font-family: sans-serif;
    font-family: var(--title-font), sans-serif;
    line-height: 1.2;
    margin-bottom: var(--margin-bottom);
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 2rem;
    line-height: 1.4;
}

.breadcrumb {
    font-size: 1rem;
    margin-top: var(--margin-top);
}

.small-text {
    font-size: 0.75rem;
}
:root {
    font-size: 18px;;
}
.use-max-line-length {
    max-width: 70ch;
}

@media (max-width: 620px) {
     :root {
        font-size: 14px;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.8rem;
    }
    h3 {
        font-size: 1.6rem;
        line-height: 1.4;
    }
}

@media (max-width: 320px) {
     :root {
        font-size: 12px;
    }
}