:root {
    font-size: 16px;
    --main-bg-color: #fff;
    --main-text-color: #222;
    --primary: #000;
    --secondary: #01A9B2;
    --gold: #d4af37;
    --light-gold: #FCDF8B;
    --paper: #E8DEC8;

    --title-font: "Beth Ellen", cursive;
    --serif-font: "Libre Baskerville", serif;

    --margin-top: 8px;
    --margin-bottom: 20px;
}
