:root {
    --main-bg-color: #fff;
    --main-text-color: #222;
    --primary: #000;
    --secondary: #01A9B2;
    --gold: #d4af37;
    --light-gold: #FCDF8B;
    --paper: #E8DEC8;
    --paper-transparent: rgb(61 51 31 / 85%);
    --title-font: 'IM Fell English SC', serif;
    --header-font: 'IM Fell English SC', serif;
    --serif-font: "Libre Baskerville", serif;
    --sans-serif-font: 'Lato', sans-serif;
    --margin-top: 8px;
    --margin-bottom: 20px;
}